<p class="bold">
    Exemplo de diretiva estrutural
</p>
<span>
    <ul>
        <li *MyFor="let n em [1, 2, 3]">{{ n }}</li>
    </ul>
</span>
<br>
<p class="bold">
    Exemplo de diretiva de atributo
</p>
<span appRed>
    Este texo teve sua cor atribuída por uma diretiva.
</span>
<br><br>

<p class="bold">
    Exemplo de chamada para uma função do arquivo ts. (Bind de Evento e de propriedade)
</p>
<span>
    <button (click)="bindDeEvento()" class="btn btn-primary">
        Fazer Algo
    </button>

    <p>
        <span class="bold" appRed>{{propId}}</span> de clicar no botão para fazer algo!
    </p>
</span>
<br>
<p class="bold">
    Exemplo de um método sendo chamado de um serviço (console)
</p>
<span>
    <button (click)='chamaServico()'>
        Chama Service
    </button>
</span>
<br><br>
<p class="bold">
    Exemplo 2 de um serviço que exibe uma mensagem de snackbar no canto superior esquerdo.
</p>
<span>
    <button mat-raised-button (click) = "mostrarMsg()">
        Mostre a mensagem
    </button>
</span>